.app-button {
  background-color: transparent;
  border: none;
  background-color: #6200ee;

  color: white;
  font-size: 16px;

  border-radius: 8px;

  font-family: "Roboto", sans-serif;
}

.solid_button{
  background-color: transparent;
  border: 2px solid #6200ee;
  color: #6200ee;
}
