.header-search-label{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 20px;
    cursor: pointer;
    .header-search-label-title{
        font-size: 16px;
        color: #aba4a4;
        font-family: "Roboto", sans-serif;
    }
}